.js-offcanvas a{
  color: #007bff;
}
.judul-preview{
  font-size: 23px;
  margin-bottom: 20px;
}
.app-download{
  width: 170px;
  padding: 10px;
}

.text-video-2{
  color: white;
}
@media (min-width: 768px){
	.mt-md-0, .my-md-0 {
    margin-top: -2px!important;
  }
}
.text-video{
    font-size: 30px;
}
.bg{
  padding-top: 1rem;padding-bottom: 1rem;background: #9699a0;
}
.modal-content{
  background-color: #9699a0;
  border: 0px;
}
.modal-header{
  border-bottom: 0px!important;
}
.modal-body{
  background-color: #9699a0;
  padding-top: 0px!important;
  border-radius: .3rem;
}
/*header*/
.nav__color-strip {
    background-color: #14215e;
    height: 3px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 30;
}

/*.navbar-dark{
  background-color: rgba(0,0,0, 0.9)!important
  }*/
.langid{
  height: 20px; margin-top:5px;margin-right: 20px;
}
.tagline{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  font-size: 3rem;
}
.app-text{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  margin-bottom: 0.2rem;
  font-size: 20px;
}
.app-text-2{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  margin-bottom: 0.2rem;
  font-size: 16.5px;
}
.c-offcanvas {
    left: 0;
    padding: 1rem;
    overflow-y: scroll;
  }
  .js-offcanvas a {
     color: #337ab7;
     outline: 0;
  }
  .js-offcanvas .dropdown-menu {
    position:relative;
    border:none;
  }
  * { 
  font-family: 'Heebo', sans-serif;
  transition: all .1s ease; 
}
html, body {
    height: 100%;
}
h1 { font-size: 64px; }
.bg-black{
  background-color: rgba(0,0,0, 0.5)!important
}
.logo-place{
  position: absolute;
  height: 100px;
  background: #14215e;
  top: 0px;
  padding: 0px;
  z-index: 99;
  border-radius: 0px 0px 10px 10px;
}
.logo-place img{
  height: 100%;
  padding: 10px;
}
.grid-contain{
  max-width: 1100px;
  padding: 0px;
}
.btn-search{
  position: absolute;
  right: 15px;
  line-height: 1;
  border: 0px;
  border-radius: 20px;
  font-size: 14px;
  background: transparent;
}
.btn-search:hover{
  color: red
}
.search-field{
  line-height: 0.5;
  border: 1px solid black !important;
  border-radius: 20px;
  font-size: 14px;
  width: 100% !important;
}
.search-sign{
  float: right;
  padding: 6px 0px;
  top: 0px;
  margin-right: 5px;
}
/*.search-tits{
  display: block;
}*/
@media(max-width: 767px){
  .search-tit{
    display: none !important
  }
  .search-tits{
    display: block !important;
  }
  .search-field{
    border: 1px solid black !important;
    width: 100% !important;
  }
  .btn-search{
    right: 15px !important
  }
}
.btn:focus{
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}
.flag-section{
  line-height: 0.5;
  font-size: 14px;
  height: 30px !important;
  border: 0px;
   background: transparent !important; 
   color: white !important; 
  padding: 5px;
}
.flag-section option{
  color: black
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff00;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.page-section {
    height: 480px;
    width: 50%;
    margin-left: 35%;
    margin-top: 5%;
    padding: 3em;
    background: linear-gradient(45deg, #43cea2 10%, #185a9d 90%);
    color: white;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
}
.fits {
  background-size: cover !important;
  background-position: 50% 50% !important;
  width: 100%;
  height: 100%;
}
.fits img {
  visibility: hidden;
}
.slider-home .owl-nav{
  position: absolute;
    bottom: 5%;
    left: 0.5%;
}
@media (min-width: 768px){
  .slider-home .owl-nav{
    position: absolute;
    bottom: 5%;
    left: 25.5%;
  }
}

.bg-news{
  width: 100%;
  height: auto;%;
  border-radius:8px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.mess{
  position: absolute;
  transform: translate3d(-95px, 25px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}
.navigation {
    position: fixed; 
    width: 30%;
    margin-left: 2%;
    background-color: #999;
    color: #fff;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.menu{
  padding: 5px 0px;
}
.item{
  font-size: 14px;
    padding: 5px 15px;
    width: 100%;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}

    .navigation__link {
      display: block;
      color: #ddd; 
      text-decoration: none;
      padding: 1em;
      font-weight: 400;}
      .navigation__link:hover {
        background-color: #aaa;
      }

       .navigation .active {
          color: white;
         background-color: rgba(0,190,0,0.1);
       }
       .dummy {
    margin-top: 100%;
  }
  .in {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1px;
  }
  .in:hover{
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.no-padding{
    padding: 0px !important;
  }
  .section-new{
    padding-right: 30px;
    padding-left: 30px;
  }
  .top-carafie{
    background: white;
    padding: 15px;
    border-radius: 16px;
  }
  .top-carafie-text{
    margin-top: 0px;
    font-size: 1.5em;
    padding-top: 7px;
  }
  .carafie-button{
    border-radius: 19px;
    border: 1px solid #CCCCCC !important;
  }
  .border-carafie{
    border: 10px solid white;
    max-width: 20%!important;
  }
  .col-title{
    max-width: 20%!important; 
  }
  @media (max-width: 576px){
    .border-carafie{
        border: 5px solid white;
        max-width: 50%!important;
    }
    .top-carafie-text{
        margin-top: 0px;
        font-size: 1em;
        padding-top: 5px;
    }
    .carafie-button{
        border-radius: 19px;
        border: 1px solid #CCCCCC !important;
        font-size: 0.7em
    }
    .col-title{
        max-width: 50%!important; 
    }
    .hide{
        display: none;
    }
    .post-title{
      top: 0;
      display: block;
      margin-bottom: 16px;
      font-size: 18px !important;
      font-weight: bold;
  }
}
.footer-menu{
    text-align: center;
    width: 20%;
    padding: 10px;
    display: inline;
  }
  .footer-menu a{
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  .footer-menu a:hover{
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-weight: 600;    
  }
  .modal-header .close{
    padding: 0rem;
    margin: 0rem 0rem 0rem auto;
    border: 1px solid black;
    border-radius: 20px;
    width: 40px;
    height: 40px;
  }
  /* button rounded*/
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
  
  .btn-footer{
      background-color: #717179;
      color: #eee;
  }
  .btn-footer:hover{
      background-color: #0a1123;
  }
  .footnote{
    color: white;
  }
  .margin-title{
      margin-top: 8px!important;
  }
  .title{
      color: #1F2121;
      font-size: 16px;
      font-weight: 600 !important;
      word-wrap: break-word;
      width: 100%;
      padding-bottom: 5px;
      margin-bottom: 0.1rem;
  }
  .like{
    color: #747575;
    font-size: 12px;      
  }
  .fixed{
    position: fixed;
    background: #fff;
    z-index: 10;
    width: 100%;
    height: 100%;
    z-index: -20;
  }
  .m--page--title{
  display: table;
  width: 100%;
}
.m--page--title__line{
  display: table-cell;
  width: 33%;
}
.m--page--title__line__block{
  display: block;
  border-bottom: 1px solid #dcdcdc;
}
.d-table-cell{
  display: table-cell !important
}
/*news*/
.card-news{
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.16);
  margin-bottom: 2em;
  border-radius: .3em;
  overflow: hidden;
  transition: all .2s cubic-bezier(.14,1.01,1,1);
}
.card-height{
  height: 20em;
}
.card-height-2{
  height: 9em;
}
.card-news:hover{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.16), 0 5px 10px 0 rgba(0,0,0,.08);
}
.img-border{
  border-radius: .3em;
}
.judul{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3em;
  transition: bottom .3s ease;
  z-index: 1;
  padding: 2.5em;
}
.featured-title{
  color: #000;
  font-size: 1.7em;
  font-weight: 600;
}
.featured-title>a{
  color: #000;
}
.featured-title>a:hover{
  text-decoration: none;
}
.featured-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,#fff,#fff,hsla(0,0%,100%,.01));
  bottom: -3em;
  transition: bottom .3s ease;
  z-index: 0;
}
.author{
  display: table;
  margin-top: 2em;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s,opacity .3s ease .3s;
}
.image-featured > img{
  height: 9em;
}
.title-mini{
  padding: 1em 1.5em 1em 1em;
}
.news-date{
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 200;
}
.featured-title-2{
  font-size: 1.2em;
  font-weight: 600;
}
.featured-title-2>a{
   color: #333;
}
.featured-title-2>a:hover{
   text-decoration: none;
}
.container-post{
  font-size: 1rem;
  position: relative;
}
.listing{
  padding: 5em;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.16);
  margin-bottom: 6em;
}
.single{
  position: relative;
  display: table;
  margin-bottom: 50px;
  width: 100%;
}
.post-body{
  padding-left: 0;
  padding-right: 2em;
  word-break: break-word;
  width: calc(100% - 70px);
  display: table-cell;
  vertical-align: top;
}
.post-title-list{
  font-size: 18px;
  font-weight: bolder;
  line-height: 1.21429;
  margin-bottom: 5px;
  margin-top: -5px;
}
.post-title-list>a{
  color: #333;
}
.post-title-list>a:hover{
  text-decoration: none;
  color: #132867;
}
.post-preview>p{
  word-wrap: break-word;
  font-size: 16px;
  line-height: 1.4;
  text-overflow: ellipsis;
}
.post-img{
  display: table-cell;
  vertical-align: top;
}
.author-detail{
  color: #333;
}

.preview-bilboard {
  height: auto;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .x{
      font-size: 14px !important;
      color: black;
      width: 30px !important;
      height: 30px !important;
      padding: 6px 0px !important;
  }
.bg-news{
  width: 100%;
  height: 200px;
}
.app-download{
	width: 110px;
	padding: 0px;
}
.tagline{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  font-size: 2rem;
}
.logo-place{
  height: 60px;
}
.app-text-2{
  font-size: 12px;
}
.app-text{
  font-size: 16px;
}
  .text-video{
    margin-top: 10px;
    font-size: 25px;
  }
  .text-video-2{
    color: white
    margin-top: 10px;
    font-size: 25px;
  }
  .post-heading{
    font-size: 1.5em;
  }
  .author-detail{
    font-size: 12px;
  }
  .card-news{
    margin-bottom: .7em;
  }
  .featured-title{
    font-size: 1em;
  }
  .card-height{
    height: 12em;
  }
  .judul{
    bottom: -5em;
    padding: 2em;
  }
  .image-featured{
    width: 33.333%!important;
    padding: 0px;
  }
  .title-mini{
    width: 66.667%!important;
  }
  .card-height-2{
    height: 5em;
  }
  .image-featured > img{
    height: 5em;
  }
  .news-date{
    font-size: 8px;
    margin-bottom: 2px;
  }
  .featured-title-2{
    font-size: .7em;
  }
  .listing{
    padding: 1em;
  }
  .post-preview>p{
    display: none;
  }
  .post-title-list{
    font-size: 13px;
  }
  .single>.row>.col-md-8{
    width: 66.667%!important;
  }
  .single>.row>.col-md-4{
    width: 33.333%!important;
  }
  .post-body{
    padding-right: 0px;
  }
  hr{
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .judul-preview{
    margin-top: 10px;
    font-size: 20px;
  }
  .preview-bilboard{
    display: none;
  }
} 
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.bg-news{
  width: 100%;
  height: 250px;
}
.app-download{
	width: 110px;
	padding: 0px;
}
  .card-news{
    margin-bottom: .7em;
  }
  .featured-title{
    font-size: 1em;
  }
  .card-height{
    height: 12em;
  }
  .judul{
    bottom: -5em;
    padding: 2em;
  }
  .image-featured{
    width: 33.333%!important;
    padding: 0px;
  }
  .title-mini{
    width: 66.667%!important;
  }
  .card-height-2{
    height: 5em;
  }
  .image-featured > img{
    height: 5em;
  }
  .news-date{
    font-size: 8px;
    margin-bottom: 2px;
  }
  .featured-title-2{
    font-size: .7em;
  }
  .listing{
    padding: 1em;
  }
  .post-preview>p{
    font-size: 12px;
  }
  .post-title-list{
    font-size: 13px;
  }
  .single>.row>.col-md-8{
    width: 66.667%!important;
  }
  .single>.row>.col-md-4{
    width: 33.333%!important;
  }
  .post-body{
    padding-right: 0px;
  }
  hr{
    margin-top: 2px;
    margin-bottom: 2px;
  }
} 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.preview-bilboard{
    overflow: hidden;
    max-height: 145px;
}
.bg-news{
  width: 100%;
  height: 100%;
}
.tagline{
	font-size: 2rem;
}
  .card-news{
    margin-bottom: .7em;
  }
  .featured-title{
    font-size: 1em;
  }
  .card-height{
    height: 12em;
  }
  .judul{
    bottom: -5em;
    padding: 2em;
  }
  .image-featured{
    width: 33.333%!important;
    padding: 0px;
  }
  .title-mini{
    width: 66.667%!important;
  }
  .card-height-2{
    height: 5em;
  }
  .image-featured > img{
    height: 5em;
  }
  .news-date{
    font-size: 8px;
    margin-bottom: 2px;
  }
  .featured-title-2{
    font-size: .7em;
  }
  .listing{
    padding: 1em;
  }
  .post-preview>p{
    font-size: 12px;
  }
  .post-title-list{
    font-size: 13px;
  }
  .single>.row>.col-md-8{
    width: 66.667%!important;
  }
  .single>.row>.col-md-4{
    width: 33.333%!important;
  }
  .post-body{
    padding-right: 0px;
  }
  hr{
    margin-top: 2px;
    margin-bottom: 2px;
  }
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .preview-bilboard{
    overflow: hidden;
    height: 300px;
}
  .bg-news{
  width: 100%;
  height: 100%;
}
	.app-download{
	  width: 170px;
	  padding: 10px;
	}
	.tagline{
	font-size: 2rem;
	}
  .card-news{
    margin-bottom: 2em;
  }
  .card-height{
    height: 20em;
  }
  .card-height-2{
    height: 9em;
  }
  .card-news:hover{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.16), 0 5px 10px 0 rgba(0,0,0,.08);
  }
  .img-border{
    border-radius: .3em;
  }
  .judul{
    bottom: -3em;
    padding: 2.5em;
  }
  .featured-title{
    color: #000;
    font-size: 1.7em;
    font-weight: 600;
  }
  .image-featured > img{
    height: 9em;
  }
  .title-mini{
    padding: 1em 1.5em 1em 1em;
  }
  .news-date{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .featured-title-2{
    font-size: 1.2em;
  }
  .container-post{
    font-size: 1rem;
    position: relative;
  }
  .listing{
    padding: 5em;
  }
  .single{
    position: relative;
    display: table;
    margin-bottom: 50px;
    width: 100%;
  }
  .post-body{
    padding-left: 0;
  }
  .post-title-list{
    font-size: 20px;
  }
  .post-preview>p{
    font-size: 18px;
    display: block;
  }
  .post-img{
    display: table-cell;
    vertical-align: top;
  }
}
#songtitlelimit{
  margin-bottom: 3px !important;
}
#songartist{
  margin-bottom: 0px !important;
}
   .video-js {
      margin: 0 auto;
      width: 100%;
      min-height: 200px;
    }
    @media only screen and (max-width: 600px) {
        body {
            background-color: white;
        }
    }
    .bv-video-wrap::before{
        background: none;
    }
    .video-wrap {
  position: relative;
  z-index: 0;
  align-self: center;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  box-sizing: border-box;
}
.video-js{
  border-radius:.3rem;
}
.video-js .vjs-overlay-top{
    width: 100%;
    top: 0px;
    height: 100%;
    left: 0px;
    margin-left: 0px;
    border-radius:.3rem;
}
.video-js .vjs-overlay-top-left{
  display: none;
}
.vjs-has-started .vjs-control-bar{
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}
#mydiovideo{
  position: relative;
}
#video{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
video{
  width: 100%;
  height: 100%;
}
a.link{
  color: black;
}
a.link:hover{
  text-decoration: none;
  color: #212529;
}

@media only screen and (min-width: 1100px){
	.tagline{
		font-size: 3rem;
	}
  .preview-bilboard {
    max-height: 250px;
  }
}

.modal-app{
    height: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 230px;
    background-repeat: no-repeat;
    background-position: top center;
}

#songtitleclip{
  padding-top: 8px;
}

#songtitle{
  padding-top: 8px;
}

.sugest{
  text-decoration: none;
  font-size: 14px;
  padding: 7px;
}
.sugest:hover{
  text-decoration: none;
}

.sugest-box{
  height: 80px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px 0px; 
  margin-top: -20px; border-radius: 8px; 
  display: none; border: 1px solid black !important;
}

